<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="My Store Test Suite">
    <test name="Google Search Tests">
        <classes>
            <class name="googleTest.YahooFinanceTest">
                <methods>
                    <include name="navigateToFinancePage"/>
                    <include name="verifyVariousControl"/>
                    <include name="searchQuote"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>